.menu-location-navigation-menu-container {
	width:100vw;
	transform:translateX(-100%);
	left:100%;
	display:none;
	position:absolute;
	top:calc(100% + #{$header-padding});
	z-index:10;
	.menu {
		background:$brand-secondary;
		padding:0;
		width:100%;
		list-style-type:none;
		li {
			display:block;
			position:relative;
			a {
				display:block;
				color:$brand-primary;
				padding:5px 12px;
			}
			.dropdown-menu {
				display:none;
				background:$brand-primary;
				padding-left:20px;
				a {
					color:$brand-secondary;
				}
				//hover dropdowns on nav menu
				@include bpmin(md) {
					.dropdown:hover>.dropdown-menu {
					    display: block;
					}
					.dropdown-menu {
						margin-top:-2px;
					}
				}
			}
		}
		@include bpmin(md) {
			li, a {
				display:inline-block;
			}
		}
	}
}

.mobile-dropdown-icon {
	display:block;
	background:$brand-primary;
	position:absolute;
	top:0;
	right:0;
	height:100%;
	padding:0 10px;
	color:$brand-secondary;
	i {
		margin-top:50%;
		position:relative;
		transition:transform .3s;
	}
	&.active {
		i {
			transform:rotate(-45deg);
		}
	}
	@include bpmin(md) {
		display:none;
	}
}
.trigger-wrap {
	float:right;
	@include bpmin(md) {
		display:none;
	}
}
.menu-trigger {
	width:24px;
	position:relative;
	display:block;
	margin:0 auto;
	.menu-trigger--spinner {
		width:100%;
		height:2px;
		background:$brand-secondary;
		display:block;
		margin:4px 0;
		transition:all .3s;
		&.top {
			transform-origin:20% center;
		}
		&.bottom {
			transform-origin:20% center;
		}
		&.middle {
			transform-origin:center center;
		}
	}
	&.active {
		.menu-trigger--spinner {
			width:120%;
		}
		.bottom {
			transform: rotate(-45deg);
		}
		.top {
			transform: rotate(45deg);
		}
		.middle {
			opacity:0;
		}
	}
}
