@import 'bootstrap.scss';
@import 'font-awesome.scss';
@import '../../css/vendor_style.css';

@mixin remcalc($px) {
	font-size:$px+px;
	font-size:($px/12)+rem;
}
.menu-navigation-container {
	ul {
		padding-left:0;
		li {
			display:inline-block;
		}
	}
}

/*Menu Trigger Styles*/
.menu-navigation-container {
	.mobile-dropdown {
		display:none;
	}
	.menu-trigger {
		display:none;
	}
}
@media screen and (max-width:$screen-xs-max) {
	.menu-navigation-container {
		width:100%;
		display:none;
		float:left;
		.menu {
			padding:0;
			width:100%;
			list-style-type:none;
			li {
				width:100%;
			}
		}
		.mobile-dropdown {
			display:block;
			color:white;
			background:lighten(blue, 10%);
			position:absolute;
			right:0;
			top:0;
			bottom:0;
			width:40px;
			text-align:center;
			@include remcalc(27);
			.vert, .hor {
				display:inline-block;
				vertical-align:middle;
				width:15px;
				height:3px;
				background:white;
				margin-left:5px;
				transition:all .4s;
				margin:-5px 0 0;

			}
			.hor {
				margin-left:-15px;
			}
			.vert {
				transform:rotate(-90deg);
			}
			&.active {
				.hor {
					transform:rotate(-180deg);
				}
				.vert {
					transform:rotate(180deg);
				}
			}
		}
	}
	.trigger-wrap {
		width:43px;
		padding:5px 0;
	}
	.menu-trigger {
		width:37px;
		position:relative;
		display:block;
		margin:0 auto;
		.top, .middle, .bottom {
			width:100%;
			height:6px;
			background:blue;
			display:block;
			margin:3px 0;
			transition:all .3s;
		}
		&.active {
			.bottom {
				transform: rotate(-45deg);
				width:24px;
				height:4px;
				top:27px;
				margin-left:14px;
			}
			.top {
				position:relative;
				transform:rotate(45deg);
				top:15px;
				width:24px;
				height:4px;
				left:-1px;
			}
			.middle {
				position:relative;
				transform: rotate(90deg);
				width: 28px;
				left: 4px;
				top: 0px;
				height:4px;
			}
		}
	}
}

img {
	max-width:100%;
	height:auto;
}

/*Site Styles*/